<launch>
	
	<node name="base_launchpad_node" pkg="beginner_tutorials" type="base_launchpad.py" output="screen">
		
	</node>
	
	
	<node pkg="beginner_tutorials" type="right_node.py" name="right_node" />
	<node pkg="beginner_tutorials" type="left_node.py" name="left_node" />
	<node pkg="joy" type="joy_node.py" name="joy_node" />
	<node pkg="teleoperation" type="teleoperation_node.py" name="teleoperation_node" />	


	
</launch>
