<?xml version="1.0"?>

<launch>
	<node name="qr_detector" pkg="zbar_detector" type="barcode_detector" output="screen" />
	<node name="labels_detector" pkg="labels_hazmate_detector" type="hazLabelDetector.py" output="screen"/>
	<node name="cpatern_detector" pkg="c_pattern_detector" type="cPattern_detector.py" output="screen"/>
	<!--node name = "audio_play_robot" pkg = "audio_play" type = "audio_play" output = "screen"/>
	<node name = "audio_capture_oper" pkg = "audio_capture" type = "audio_capture" output = "screen"/-->
</launch>